  $background-light: #282828;
  $background-dark: #9c9c9c;
  $green: #80ff72;
  $dark-green: #0bab64;
  $gradient: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  $dark-green-gradient: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  $background: linear-gradient(315deg, #b0bdd1 0%, #efeff0 74%);
  
  @mixin gradientText($size, $weight){
    background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $size;
    font-weight: $weight;
  }
  @mixin gradientDarkText($size, $weight){
    background: -webkit-linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $size;
    font-weight: $weight;
  }
