.cursor{
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    border-right: 2px solid $orange;
    border-left: 2px solid $orange;
    border-radius: 50%;
    z-index: 1;
    animation: spin-backwards 1s linear infinite;
    overflow: hidden;
}