.side-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100vh;
    background: $background;
}
.side-img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.borders-box{
    border-left: 4px solid $green;
    border-right: 4px solid $dark-green;
    position: absolute;
    animation: spin 5s linear infinite;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.side-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.side-nav-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.router-link{
    display: block;
    color: black;
    text-align: center;
    border-bottom: 1px solid rgb(105, 105, 105);
    font-size: 20px;
    cursor: pointer;
    &:hover{
        @include gradientDarkText(20px,700);
    }
    &::before{
        content: "";
        display: block;
        margin-bottom: 1rem;
    }
    &::after{
        content: "";
        display: block;
        height: 3px;
         background: $gradient;
        transition: width 0.5s ease ;
        width: 0;
        margin-top: 1rem;
        margin-bottom: -1px;
    }
    &:hover:after { 
        width: 100%; 
      }
}
.router-link-active{
    text-align: center;

    @include gradientDarkText(20px, 700);
    &::after{
        content: "";
        display: block;
        height: 3px;
        background: $gradient;
        width: 100%;
        margin-top: 1rem;
    }
}
.side-icon-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.side-icon-img{
    cursor: pointer;
    &:hover{
        animation: bounce .9s linear infinite;
    }
}

